body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background-color: #1e1e1e;
}
.container {
  background-color: #2c2c2c;
  width: 50%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.header {
  display: flex;
  color: #ffffff;
  font-size: 30px;
  font-family: "Racing Sans One";
}
.vl {
  border-left: 1px solid white;
  margin: 10px;
}
.input-task {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 40px;
  margin-top: 20px;
}
.text-box {
  width: 60%;
  display: flex;
  padding-left: 20px;
  font-size: 15px;
  border-style: none;
  background-color: #d9d9d9;
  box-shadow: 1px 1px #777777;
  border-radius: 20px;
}
.text-box:focus {
  outline: none;
}
#btn {
  border-radius: 20px;
  position: absolute;
  right: 35%;
  border-style: none;
  cursor: pointer;
  box-shadow: 1px 1px #777777;
  color: #ffffff;
  background-color: #4f4f4f;
  height: 40px;
  width: 100px;
}
.error-msg{
  color: red;
  position: absolute;
  font-family: "Inter";
  font-size: 13px;
  visibility: hidden;
  left: 38%;
  top: 35%;
}
.hl {
  margin-top: 50px;
  width: 70%;
}
.tasks {
  width: 80%;
}
.tasks p{
  padding-left: 5px;
}
ul li {
  background-color: #222222;
  margin: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  opacity: 1;
  cursor: pointer;
  font-family: "Inter";
  border-radius: 10px;
  color: #ffffff;
  padding-left: 10px;
  list-style: none;
}
li .checkBoxIcon{
  height:15px ;
  cursor: pointer;
}
li .CheckMarkIcon{
  height:15px ; 
  position: absolute;
  left: 34.6%;
}
li .icons {
  height: 15px;
  display: flex;
  position: absolute;
  border-radius: 20px;
  right: 30%;
  padding-right: 10px;
  width: 5%;
  justify-content: space-evenly;
}
li img {
  color: #ffffff;
  cursor: pointer;
}
li .icons :hover {
  border-radius: 5px;
  height: 20px;
  background-color: #f2f2f2;
}

/* ul :hover {
  background-color: #2f2f2f;
} */
